a{text-decoration:none}
 body{margin:0;}
#divmain{
  width:1262.67px;
  height: 628px;
    background-color:#FFFFFF;/*设置背景色*/
  margin-left:auto;
  margin-right:auto;  /*边界左自动，右自动是居中*/
  
}

#divhead{
  width:1262.67px;
/* background-color:red;*/
  height:140px;
 

}
#divhead1{
  width:980px;
  /* background-color:green;*/
  height:60px;
  margin-left:141px;
  margin-right:auto;  /*边界左自动，右自动是居中*/
    padding-top:40px;
}
#divhead1image{
  width:144px;
  
  height:60px;
  
}
#divmid{
  width:980px;
  /* background-color:yellow; */ /*设置背景色*/
  height:370px;
  margin-left:141px;
  margin-right:auto;  /*边界左自动，右自动是居中*/
  
  
}

#divmid1{
  width:270px;
  /* background-color:red; *//*设置背景色*/
  height:370px;
  float: left;
  margin-left:115px;
}
#divmid2{
  
  float: left;
}


#divmid11,#divmid14{
 font-size: 13px;
}

#divmid12,#divmid13{
 font-size: 11px;
}

#login-mobile,#login-verify-code,#btn{
      width:270px;
      height:35px;
 
}
#btn{
  background: #FFD705;
}
#divfoot{
   width:980px;
          /* background-color:green;*/
          height:18px;
          margin-left:141px;
          margin-right:auto;  /*边界左自动，右自动是居中*/
            padding-top:50px;
}
#footfont{
  font-size: 13px;
  color: B39999;
}
